<a href="https://colab.research.google.com/github/sheharyarakhtar/SentimentAnalysisTweets/blob/main/TweetSentimentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
install.packages('class')
install.packages('quanteda')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘coda’, ‘rle’, ‘extrafontdb’, ‘Rttf2pt1’, ‘statnet.common’, ‘ISOcodes’, ‘data.table’, ‘extrafont’, ‘fastmatch’, ‘ggrepel’, ‘network’, ‘RcppParallel’, ‘sna’, ‘SnowballC’, ‘stopwords’, ‘proxyC’, ‘RcppArmadillo’

In [ ]:
install.packages('caret')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘numDeriv’, ‘SQUAREM’, ‘lava’, ‘prodlim’, ‘iterators’, ‘gower’, ‘ipred’, ‘timeDate’, ‘foreach’, ‘plyr’, ‘ModelMetrics’, ‘reshape2’, ‘recipes’, ‘pROC’

In [ ]:
library(caret)
library(quanteda)
library(class)

Loading required package: lattice

Loading required package: ggplot2

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
Package version: 2.1.2

Parallel computing: 2 of 2 threads used.

See https://quanteda.io for tutorials and examples.


Attaching package: ‘quanteda’


The following object is masked from ‘jupyter:irkernel’:

    View


The following object is masked from ‘package:utils’:

    View

In [ ]:
test <- read.csv('test.csv')
train <- read.csv('train.csv')
stop_word <- read.csv('stop_words.txt')

In [ ]:
train.tokens <- tokens(train$Tweet, what = "word", 
                       remove_numbers = TRUE, remove_punct = TRUE,)

# Lower case the tokens.
train.tokens <- tokens_tolower(train.tokens)

train.tokens <- tokens_select(train.tokens, stop_word, 
                              selection = "remove")


# Perform stemming on the tokens.
train.tokens <- tokens_wordstem(train.tokens, language = "english")

# Create our first bag-of-words model.
train.tokens.dfm <- dfm(train.tokens, tolower = FALSE)


# Transform to a matrix and inspect.
train.tokens.matrix <- as.matrix(train.tokens.dfm)
train.labels <- train$Sentiment

In [ ]:

train.token.dataframe <- as.data.frame(train.tokens.matrix)

In [ ]:
train.token.dataframe <- train.token.dataframe[,-1]
head(train.token.dataframe)

      from amsterdam to ewr 737-300 it-problem with the link #3thparti ⋯
text1 1    1         1  1   1       0          0    0   0    0         ⋯
text2 0    0         0  0   0       1          1    1   1    1         ⋯
text3 0    0         1  0   0       0          0    1   0    0         ⋯
text4 1    0         1  0   0       0          0    0   0    0         ⋯
text5 0    0         0  0   0       0          0    0   0    0         ⋯
text6 0    0         0  0   0       0          0    0   0    0         ⋯
      @djq_kc @djimpact #fixthi metar #thismosaicnothappi 6'2
text1 0       0         0       0     0                   0
text2 0       0         0       0     0                   0
text3 0       0         0       0     0                   0
text4 0       0         0       0     0                   0
text5 0       0         0       0     0                   0
text6 0       0         0       0     0                   0
      http://t.co/tsvibtvt8h bleh http://t.co/ypo7nyprzl #biztravel
text1 0                      0    0                      0
text2 0                      0    0                      0
text3 0                      0    0                      0
text4 0                      0    0                      0
text5 0                      0    0                      0
text6 0                      0    0                      0

In [ ]:

test.tokens <- tokens(test$Tweet, what = "word", 
                       remove_numbers = TRUE, remove_punct = TRUE,)

# Lower case the tokens.
test.tokens <- tokens_tolower(test.tokens)

test.tokens <- tokens_select(test.tokens, stop_word, 
                              selection = "remove")


# Perform stemming on the tokens.
test.tokens <- tokens_wordstem(test.tokens, language = "english")

# Create our first bag-of-words model.
test.tokens.dfm <- dfm(test.tokens, tolower = FALSE)


# Transform to a matrix and inspect.
test.tokens.matrix <- as.matrix(test.tokens.dfm)
test.labels <- test$Sentiment

In [ ]:
test.tokens.dataframe <- as.data.frame(test.tokens.matrix)
head(test.tokens.dataframe)

      @virginamerica to jump into the dallas-austin market @dalla_news
text1 1              1  1    1    1   1             1      1
text2 0              1  0    0    0   0             0      0
text3 0              0  0    0    0   0             0      0
text4 0              2  0    0    0   0             0      0
text5 0              0  0    0    0   0             0      0
text6 0              1  0    0    0   0             0      0
      http://t.co/ewwgi97gdx @americanair ⋯ #impact #busad #thinkbus
text1 1                      0            ⋯ 0       0      0
text2 0                      1            ⋯ 0       0      0
text3 0                      0            ⋯ 0       0      0
text4 0                      0            ⋯ 0       0      0
text5 0                      0            ⋯ 0       0      0
text6 0                      0            ⋯ 0       0      0
      @belfastairport http://t.co/avbdstjuj westchest cti
text1 0               0                     0         0
text2 0               0                     0         0
text3 0               0                     0         0
text4 0               0                     0         0
text5 0               0                     0         0
text6 0               0                     0         0
      http://t.co/ji7xks2jkk reassign #fuckoff
text1 0                      0        0
text2 0                      0        0
text3 0                      0        0
text4 0                      0        0
text5 0                      0        0
text6 0                      0        0

In [ ]:
dim(train.token.dataframe)
dim(test.tokens.dataframe)

[1] 11680 11246

[1] 2921 4927

In [ ]:

train.token.dataframe <- train.token.dataframe[,intersect(colnames(test.tokens.dataframe), colnames(train.token.dataframe))]
test.tokens.dataframe <- test.tokens.dataframe[,intersect(colnames(test.tokens.dataframe),colnames(train.token.dataframe))]

dim(train.token.dataframe)
dim(test.tokens.dataframe)

[1] 11680  3300

[1] 2921 3300

In [ ]:
head(train.token.dataframe)

      @virginamerica to jump into the dallas-austin market @dalla_news
text1 0              1  0    0    0   0             0      0
text2 0              0  0    0    1   0             0      0
text3 0              1  0    0    1   0             0      0
text4 0              1  0    0    0   0             0      0
text5 0              0  0    0    0   0             0      0
text6 0              0  0    0    0   0             0      0
      @americanair chicago ⋯ began advis view downtown los rain mountain
text1 0            0       ⋯ 0     0     0    0        0   0    0
text2 0            0       ⋯ 0     0     0    0        0   0    0
text3 0            0       ⋯ 0     0     0    0        0   0    0
text4 1            0       ⋯ 0     0     0    0        0   0    0
text5 0            0       ⋯ 0     0     0    0        0   0    0
text6 1            0       ⋯ 0     0     0    0        0   0    0
      belfast westchest reassign
text1 0       0         0
text2 0       0         0
text3 0       0         0
text4 0       0         0
text5 0       0         0
text6 0       0         0

In [ ]:
normalze <- function(x)
{
  return((x-min(x))/(max(x)-min(x)))
}

train_n <- as.data.frame(lapply(train.token.df, normalze))
test_n <- as.data.frame(lapply(test.token.df, normalze))

In [ ]:
pred <- knn(test = test.tokens.dataframe, train= train.token.dataframe, k = 87, cl = train.labels)