<a href="https://colab.research.google.com/github/sheharyarakhtar/SentimentAnalysisTweets/blob/main/TweetSentimentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
install.packages('class')
install.packages('quanteda')
install.packages('caret')
library(caret)
library(quanteda)
library(class)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘coda’, ‘rle’, ‘extrafontdb’, ‘Rttf2pt1’, ‘statnet.common’, ‘ISOcodes’, ‘data.table’, ‘extrafont’, ‘fastmatch’, ‘ggrepel’, ‘network’, ‘RcppParallel’, ‘sna’, ‘SnowballC’, ‘stopwords’, ‘proxyC’, ‘RcppArmadillo’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘numDeriv’, ‘SQUAREM’, ‘lava’, ‘prodlim’, ‘iterators’, ‘gower’, ‘ipred’, ‘timeDate’, ‘foreach’, ‘plyr’, ‘ModelMetrics’, ‘reshape2’, ‘recipes’, ‘pROC’


Loading required package: lattice

Loading required package: ggplot2

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
Package version: 2.1.2

Parallel computing: 2 of 2 threads used.

See https://quanteda.io for tutorials and examples.


Attaching package: ‘quanteda’


The following object is masked from ‘jupyter:irkernel’:

    View


The following object is masked from ‘package:utils’:

    View

In [3]:
test <- read.csv('test.csv')
train <- read.csv('train.csv')
stop_word <- read.csv('stop_words.txt')

In [5]:
train.tokens <- tokens(train$Tweet, what = "word", 
                       remove_numbers = TRUE, remove_punct = TRUE, remove_symbols = TRUE, remove_url = TRUE, split_hyphens = TRUE)

# Lower case the tokens.
train.tokens <- tokens_tolower(train.tokens)

train.tokens <- tokens_select(train.tokens, stop_word, 
                              selection = "remove")


# Perform stemming on the tokens.
train.tokens <- tokens_wordstem(train.tokens, language = "english")

# Create our first bag-of-words model.
train.tokens.dfm <- dfm(train.tokens, tolower = FALSE)


# Transform to a matrix and inspect.
train.tokens.matrix <- as.matrix(train.tokens.dfm)
train.labels <- train$Sentiment

In [8]:

train.tokens.dataframe <- as.data.frame(train.tokens.matrix)
head(train.tokens.dataframe)

      @unit from amsterdam to ewr it problem with the link ⋯ @capeair rndtrp
text1 1     1    1         1  1   0  0       0    0   0    ⋯ 0        0
text2 1     0    0         0  0   1  1       1    1   1    ⋯ 0        0
text3 1     0    0         1  0   0  0       0    1   0    ⋯ 0        0
text4 0     1    0         1  0   0  0       0    0   0    ⋯ 0        0
text5 0     0    0         0  0   0  0       0    0   0    ⋯ 0        0
text6 0     0    0         0  0   0  0       0    0   0    ⋯ 0        0
      @djq_kc @djimpact #fixthi metar #thismosaicnothappi 6'2 bleh #biztravel
text1 0       0         0       0     0                   0   0    0
text2 0       0         0       0     0                   0   0    0
text3 0       0         0       0     0                   0   0    0
text4 0       0         0       0     0                   0   0    0
text5 0       0         0       0     0                   0   0    0
text6 0       0         0       0     0                   0   0    0

In [9]:
train.tokens.dataframe <- train.tokens.dataframe[,-1]
head(train.tokens.dataframe)

      from amsterdam to ewr it problem with the link #3thparti ⋯ @capeair
text1 1    1         1  1   0  0       0    0   0    0         ⋯ 0
text2 0    0         0  0   1  1       1    1   1    1         ⋯ 0
text3 0    0         1  0   0  0       0    1   0    0         ⋯ 0
text4 1    0         1  0   0  0       0    0   0    0         ⋯ 0
text5 0    0         0  0   0  0       0    0   0    0         ⋯ 0
text6 0    0         0  0   0  0       0    0   0    0         ⋯ 0
      rndtrp @djq_kc @djimpact #fixthi metar #thismosaicnothappi 6'2 bleh
text1 0      0       0         0       0     0                   0   0
text2 0      0       0         0       0     0                   0   0
text3 0      0       0         0       0     0                   0   0
text4 0      0       0         0       0     0                   0   0
text5 0      0       0         0       0     0                   0   0
text6 0      0       0         0       0     0                   0   0
      #biztravel
text1 0
text2 0
text3 0
text4 0
text5 0
text6 0

In [11]:

test.tokens <- tokens(test$Tweet, what = "word", 
                       remove_numbers = TRUE, remove_punct = TRUE, remove_symbols = TRUE, remove_url = TRUE)

# Lower case the tokens.
test.tokens <- tokens_tolower(test.tokens)

test.tokens <- tokens_select(test.tokens, stop_word, 
                              selection = "remove")


# Perform stemming on the tokens.
test.tokens <- tokens_wordstem(test.tokens, language = "english")

# Create our first bag-of-words model.
test.tokens.dfm <- dfm(test.tokens, tolower = FALSE)


# Transform to a matrix and inspect.
test.tokens.matrix <- as.matrix(test.tokens.dfm)
test.labels <- test$Sentiment

In [12]:
test.tokens.dataframe <- as.data.frame(test.tokens.matrix)
head(test.tokens.dataframe)

      @virginamerica to jump into the dallas-austin market @dalla_news
text1 1              1  1    1    1   1             1      1
text2 0              1  0    0    0   0             0      0
text3 0              0  0    0    0   0             0      0
text4 0              2  0    0    0   0             0      0
text5 0              0  0    0    0   0             0      0
text6 0              1  0    0    0   0             0      0
      @americanair chicago ⋯ #bushug format #impact #busad #thinkbus
text1 0            0       ⋯ 0       0      0       0      0
text2 1            1       ⋯ 0       0      0       0      0
text3 0            0       ⋯ 0       0      0       0      0
text4 0            0       ⋯ 0       0      0       0      0
text5 0            0       ⋯ 0       0      0       0      0
text6 0            0       ⋯ 0       0      0       0      0
      @belfastairport westchest cti reassign #fuckoff
text1 0               0         0   0        0
text2 0               0         0   0        0
text3 0               0         0   0        0
text4 0               0         0   0        0
text5 0               0         0   0        0
text6 0               0         0   0        0

In [14]:
dim(train.tokens.dataframe)
dim(test.tokens.dataframe)

[1] 11680  9783

[1] 2921 4676

In [15]:

train.tokens.dataframe <- train.tokens.dataframe[,intersect(colnames(test.tokens.dataframe), colnames(train.tokens.dataframe))]
test.tokens.dataframe <- test.tokens.dataframe[,intersect(colnames(test.tokens.dataframe),colnames(train.tokens.dataframe))]

dim(train.tokens.dataframe)
dim(test.tokens.dataframe)

[1] 11680  3239

[1] 2921 3239

In [18]:
normalize <- function(x)
{
  return((x-min(x))/(max(x)-min(x)))
}

train_n <- as.data.frame(lapply(train.tokens.dataframe, normalize))
test_n <- as.data.frame(lapply(test.tokens.dataframe, normalize))

In [21]:
pred <- knn(test = test_n, train= train_n, k = 97, cl = train.labels)

In [20]:
table(train.labels)
table(test.labels)

train.labels
negative  neutral positive
    7331     2461     1888

test.labels
negative  neutral positive
    1834      615      472

In [27]:
CrossTable(x = pred, y = test.labels, chisq = T)

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  2921


             | test.labels
        pred |  negative |   neutral |  positive | Row Total |
-------------|-----------|-----------|-----------|-----------|
    negative |        96 |         1 |         1 |        98 |
             |    19.309 |    18.682 |    13.899 |           |
             |     0.980 |     0.010 |     0.010 |     0.034 |
             |     0.052 |     0.002 |     0.002 |           |
             |     0.033 |     0.000 |     0.000 |           |
-------------|-----------|-----------|-----------|-----------|
     neutral |       215 |        96 |        21 |       332 |
             |     0.206 |     9.745 |    19.868 |           |
             |     0.648 |     0.289 |     0.063 |     0.114 |
             |     0.117 |     0.156 |     0.044 |           |
             |     0.074 |     0.033 |     0.007 |           |
-------------|-----------|-----------|-----------|-----------|
    positive |      1523 |       518 |       450 |      2491 |
             |     1.076 |     0.080 |     5.601 |           |
             |     0.611 |     0.208 |     0.181 |     0.853 |
             |     0.830 |     0.842 |     0.953 |           |
             |     0.521 |     0.177 |     0.154 |           |
-------------|-----------|-----------|-----------|-----------|
Column Total |      1834 |       615 |       472 |      2921 |
             |     0.628 |     0.211 |     0.162 |           |
-------------|-----------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  88.46486     d.f. =  4     p =  2.789649e-18

In [24]:
install.packages('gmodels')
library(gmodels)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘gtools’, ‘gdata’